header{
display : flex;
justify-content: space-between;
align-items: center;
padding : 2%;
background-color: azure;
color: #282c34;
}

button{
  width : 100px;
  height : 25px;
  font-weight: bold;
  color: #282c34;;
}

.home{
  display : flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 90vh;
  width: 100%;
  background-color: #282c34;
  color: azure;
}




